<h1>index h1</h1>
<%-include("header") %>


<%=title  %>
<div style=>
    <button>注册</button>
    <button>登录</button>
</div>
<form action="/index" method="post">
    <input name="name">
    <input type="submit" value="Submit">

</form>


<div>
    <ul>
        <% caijing.forEach((v,i)=> {   %>
           <li> <%=v.title  %> </li>
       <% } ) %>
    </ul>

</div>



<div>
    这是另一个模块
    <%-include("other") %>
</div>


<div>
   这是用于测试vue的模块
   <%-include("vue_demo") %>
   
</div>



<%-include("footer") %>